name: Create JIRA issue

permissions:
  contents: read
  issues: write
on:
  issues:
    types: [opened]

jobs:
  call-workflow-create-jira-issue:
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-jira-issue_to_jira.yml@main
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
    with:
      project-key: 'GEOPY'
      components: '[{"name": "packaging"}]'
