name: Add JIRA issue summary

on:
  pull_request:
    types: [opened]
permissions:
  contents: read
  pull-requests: write

jobs:
  call-workflow-add-jira-issue-summary:
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-jira-pr_add_jira_summary.yml@main
    permissions:
      contents: read
      pull-requests: write
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
