name: Python analysis

permissions:
  contents: read
  pull-requests: read
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**
  push:
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  call-workflow-static-analysis:
    name: Static analysis
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-python-static_analysis.yml@main
    with:
      package-manager: 'poetry'
      app-name: 'geoh5_interop'
      python-version: '3.10'
  call-workflow-pre-commmit:
    name: Pre-Commit
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-pre_commit.yml@main
    with:
      app-name: 'geoh5_interop'
  call-workflow-pytest-poetry:
    name: Pytest with Poetry
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-python-pytest.yml@main
    with:
      package-manager: 'poetry'
      python-versions: '["3.10", "3.12"]'
      os: '["ubuntu-latest", "windows-latest"]'
      cache-number: 1
  call-workflow-pytest-conda:
    name: Pytest with Conda
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-python-pytest.yml@main
    with:
      package-manager: 'conda'
      python-versions: '["3.10", "3.12"]'
      os: '["ubuntu-latest", "windows-latest"]'
      cache-number: 1
